.main {
    background-color: #f1f2f3;
    padding-bottom: 40px;
}

.main-box {
    border: 1px solid #e6e7e8;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 1140px;
    height: auto;
    flex-flow: wrap;
    place-content: flex-start;
    background-color: #fff;
}

.navigate-box {
    width: 100%;
    height: 46px;
    margin-bottom: 10px;
    background-color: #ece0c2;
}

.navi {
    width: 220px;
    font-size: 20px;
}

.contents-box {
    margin-top: 20px;
    margin-left: 30px;
    height: 250px;
    width: 250px;
}
.contents-title{
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2px;
    display: flex;
}
.contents-img-box {
    position: relative;
    overflow: hidden;
}
.contents-img{
    height: 150px;
    width: 100%;
    cursor: pointer;
}
.contents-detail {
    display: flex;
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}


.info-box {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}


.info-btn:hover{
    cursor: pointer;
}


.info-box2 {
    display: flex;
    justify-content: space-between;
    
}

.views-box {
    display: flex;
    font-size: 12px;
}

.views-count {
    margin-left: 5px;
}

.recommendation-box {
    display: flex;
}

.recommendation-btn {
    cursor: pointer;
}

.recommendation-count {
    margin-left: 5px;
    font-size: 12px;
}
.pagingcount {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.select-box {
    margin-left: 10px;
    width: 220px;
    height: 40px;
    border: 1px solid #9e9e9e;
}
.select-box:focus {
    border: 1px solid #2f63ff;
    box-shadow: 0px 0px 2px 1px #2f63ff;
}
.select-btn {
    margin-left: 10px;
    width: 80px;
    height: 40px;
    background-color: black;
    color: white;
}
