
.view-full-box{
    background-color: #f1f1f2;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 840px;
}
.view-head-box {
    width: 1240px;
    margin: auto;
    background-color: white;
}
.view-contents-box {
    width: 1240px;
    margin: auto;
    padding-top: 16px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.view-head-titlebox {
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.view-head-title {
    font-size: 24px;
    font-weight: 600;
}
.view-head-date {
    display: flex;
    font-size: 16px;
    align-items: center;
    color: #999999;
}
.view-info-box {
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    width: 100%;
}
.view-count-box {
    display: flex;
    justify-content: space-around;
    width: 180px;
    color: #999999;
}
.comments-small-box {
    background-color: white;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 40px 50px 25px;
    width: 1240px;
    border: 1px solid #ccc;
}

.comments-upload-box{
    display: flex;
    width: 100%;
    padding-bottom: 14px;
    border-bottom: 1px solid #e6e7e8;
}

.comments-input-box{
    width: 100%;
    height: 100px;
    resize: none;

}

.comments-input-btn{
    width: 100px;
    height: 100px;
}

.comment-title {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e7e8;
}
.comment-count{
    padding-left: 5px;
    color: #74b243;
}
.comment-contents-head{
    display: flex;
    margin-bottom: 5px;
}
.comment-contents-nickname {
    font-size: 17px;
    margin-right: 10px;
}
.comment-contents-date{
    font-size: 14px;
    color: #999999;
    line-height: 24px;
}
.comment-float {
    font-size: 14px;
    color: #999999;
    margin: 0 5px 0 5px;
}
.comment-btn {
    font-size: 14px;
    line-height: 23px;
    color: #999999;
    cursor: pointer;
}
.comment-contents-con{
    font-size: 14px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e7e8;
    white-space: pre;
}
.comment-update-box {
    width: 1047px;
    height: 100px;
    resize: none;
}
